<ion-view view-title="" >

    <ion-content >
        <div class="row bread">
            Buzones
        </div>
        
        <h5 class="padding-left">Lugares a donde puedes llevar tu pedido:</h5>
        
<div class="list">   

    <div ng-repeat="buzon in buzones" ng-class-odd="'item item-icon-left alternate'" ng-class-even="'item item-icon-left'">
        <div style="padding-left:20px">
            <i class="icono icono-buzon fecha-icono-verde" style="font-size: 40px;"></i>
            <p><strong>{{buzon.descripcion}}</strong></p>
            <p>{{buzon.direccion}}</p>
        </div>
    </div>

</div>

<div class="div-lista-footer"></div>

</ion-content>
</ion-view>