<ion-view view-title="">
    <ion-content>
    <div class="content-login padding">
        <img src="img/login.png" class="login-img" />
        <h4>Mamá, vas a cambiar tu clave</h4>
        <h3>Ingresa tu clave actual</h3>
        <form ng-submit="capturarCedula()">
                <label class="login-input">
                    <input id="txtCambioClaveActual" class="clave" ng-model="modelo.clave" type="number" >
                </label>
                <label class="login-button">
                    <input id="ingresar" type="button" value="Enviar" class="button button-block" ng-click="continuar()">
                    <!--  <button id="ingresar" class="button button-block" type="submit">Ingresar</button> -->
                </label>
        </form>
    </div>
    </ion-content>
</ion-view>