<ion-view view-title="">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-stable">
            <i class="icon ion-arrow-left-b"></i>
            Atrás
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
    <div class="content-login padding">
        <img src="img/login.png" class="login-img" />
        <h4>Mamá, Elige tu nueva clave</h4>
        <h3>Elige una cifra de 4 dígitos</h3>
        <form ng-submit="capturarCedula()">
                <label class="login-input">
                    <input id="txtCambioClaveNueva" class="clave" ng-model="modelo.clave" type="text" maxlength="10">
                </label>
                <label class="login-button">
                    <input id="ingresar" type="button" value="Enviar" class="button button-block" ng-click="continuar()">
                    <!--  <button id="ingresar" class="button button-block" type="submit">Ingresar</button> -->
                </label>
        </form>
    </div>
    </ion-content>
</ion-view>