<ion-view view-title="Clave">
    <ion-content>
        <div class="content-login padding">
            <img src="img/pregunta2.png" class="login-img" />
            <h4>Ésta es tu segunda oportunidad</h4>
            <h3>¿Dentro de cuál de las siguientes opciones se encuentra el valor de tu última factura?</h3>
            <form ng-submit="capturarCedula()">

                <ul class="list" >
                    <label class="item item-radio" ng-repeat="respuesta in respuestas" ng-click="respuestaSeleccionada(respuesta, $index)">
                        <input type="radio" name="group">
                        <div class="item-content" >
                            {{respuesta}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                </ul>
                <label class="login-button">
                    <input id="ingresar" type="button" value="Enviar" class="button button-block" ng-click="continuar()">
                </label>
            </form>
        </div>
    </ion-content>
    <ion-footer-bar >
        <div class="footer-nutresa">
            <img src="img/nutresa.png" />
        </div>
    </ion-footer-bar>
</ion-view>