<ion-view view-title="Clave">
    <ion-nav-bar class="bar-stable">
  <ion-nav-back-button class="button-stable">
  </ion-nav-back-button>
</ion-nav-bar>
    <ion-content>
    <div class="content-login padding">
        <img src="img/login.png" class="login-img" />
        <h3>Hola {{datos.nombre | pascal}}, Ingresa tu clave</h3>
        <form ng-submit="capturarCedula()">
                <label class="login-input">
                    <input id="txtClaveLogin" class="clave" ng-model="modelo.clave" type="number" >
                </label>
                <label class="login-button">
                    <input id="ingresar" type="button" value="Enviar" class="button button-block" ng-click="continuar()">
                    <!--  <button id="ingresar" class="button button-block" type="submit">Ingresar</button> -->
                </label>
            <div  class="olvidaste">
                <a href="#" ng-click="irARecuperarClave()">¿Olvidaste tu clave?</a>
            </div>

        </form>
    </div>
    </ion-content>
    <ion-footer-bar >
        <div class="footer-nutresa">
            <img src="img/nutresa.png" />
        </div>
    </ion-footer-bar>
</ion-view>