<ion-view view-title="">
    <ion-content>
        <div class="row bread" ng-click="irAtras()">
            <span ng-show="mostrarAtras()" class="atras" ><i class="icon ion-arrow-left-b"> Atrás </i>
            </span>&nbsp;
            Encuesta Pedido
        </div>

        <div class="padding" ng-show="obtenerPregunta()" style="min-height:250px;">
            <div style="width: 100%">
                <h5 style="text-align: center">Pregunta {{indicePregunta + 1}} de {{preguntasEncuesta.length}}</h5>
            </div>
            <h5>{{ obtenerPregunta().pregunta }}</h5>

            <ion-list class="encuesta" ng-show="EsPreguntaCerradaSimple()">

                <ion-radio class="item-thumbnail-left" ng-repeat="respuesta in obtenerPregunta().posiblesRespuestas" ng-model="respuestaMultipleCerrada.valor" ng-value="respuesta.posibleRespuesta" ng-change="contestarPregunta($index)" >
                    <img src="img/encuesta{{respuesta.posibleRespuesta}}.png" ng-if="mostrarImagenes()" />
                    <span >{{respuesta.posibleRespuesta}}</span>
                </ion-radio>   
                        
            </ion-list>

            <ion-list ng-show="EsPreguntaCerradaMultiple()">
                <ion-checkbox ng-repeat="respuesta in obtenerPregunta().posiblesRespuestas" ng-checked="respuestaMultipleMultiple.valor[$index]" ng-true-value="'respuesta.posibleRespuesta'" ng-false-value="null" ng-click="contestarPreguntaMultiple($index)">
                    <span >{{respuesta.posibleRespuesta}}</span>
                </ion-checkbox>
            </ion-list>

            <label class="login-input" ng-show="EsPreguntaAbierta()">
                <input id="txtTexto" type="text" ng-model="respuestaTexto.valor" maxlength="150" ng-change="contestarPreguntaAbierta()" >
            </label>
            </div>
            <div class="padding" ng-show="obtenerPregunta()" >
                <input id="btnContinuar" name="btnContinuar" type="button" value="Continuar" class="button button-block button-continue" ng-click="continuar()" >
                <input type="button" value="Salir" class="button button-block button-cancel" ng-click="salir()" >
            </div>

            <div class="div-lista-footer"></div>

    </ion-content>
</ion-view>