<ion-view view-title="" >

    <ion-content >
        </br>
    <div class="titulo-calendario">
        <div class="row">
            <div class="col sin-borde" >
                <div class="item sin-borde" href="#" ng-click="disminuirMes()">
                    <i class="ion-chevron-left light"></i>
                </div>
            </div>
            <div class="col col-50">
                <a class="item" href="#" >
                    {{ mesActual | date: 'MMMM' | pascal }}
                </a>
            </div>
            <div class="col col" >
                <div class="item" href="#" ng-click="aumentarMes()" >
                    <i class="ion-chevron-right light"></i>
                </div>
            </div>
        </div>

    </div>
    </br>
<div class="list">
    
    <div ng-class="hoyImpar(fechasMes)" style="border-color: #1594AC; margin: 1px; border-width: 2px;" ng-show="fechasMes.fecha">
        <div style="padding-left:20px">
            <i class="icon ion-android-people" style="font-size: 40px;"></i>
            <h2 ng-bind-html="textoMostrar(fechasMes, true)"></h2>
            <p>{{ fechaSeleccionada | date: 'EEE'}} {{fechaSeleccionada | date:'dd' }} de {{ fechaSeleccionada | date: 'MMMM' | pascal }} del {{ fechaSeleccionada | date: 'yyyy' }}</p>
            <p ng-show="hayLugar(fechasMes)">Lugar: <strong ng-show="hayLugar(fecha)">{{fechasMes.lugar}}</strong></p>         
            <p ng-show="hayTema(fecha)">Tema: {{fechasMes.tema}}</p>
            <p ng-show="hayHora(fechasMes)">Hora: {{fechasMes.hora}}</p>
            <h3 ng-show="diasFaltantes(fechasMes)>0">Faltan {{diasFaltantes(fechasMes)}} días calendario</h3>
        </div>
    </div>
    
    
    
    <div class="item item-divider" ng-show="fechasMes.listaOpcionales && fechasMes.listaOpcionales.length>0"><h3>Ademas puedes asistir a estos eventos:</h3></div>

    <div ng-repeat="fecha in fechasMes.listaOpcionales | orderBy: diasFaltantes" ng-class-odd="hoyPar(fecha)" ng-class-even="hoyImpar(fecha)">
        <div style="padding-left:20px">
            <i class="icon ion-android-people" style="font-size: 40px;"></i>
            <h2 ng-bind-html="textoMostrar(fecha, false)"></h2>
            <p>{{fechaSeleccionada | date: 'EEE'}} {{fechaSeleccionada | date:'dd' }} de {{ fechaSeleccionada | date: 'MMMM' | pascal }} del {{ fechaSeleccionada | date: 'yyyy' }}</p>                        
            <p ng-show="hayLugar(fecha)">Lugar: <strong ng-show="hayLugar(fecha)">{{fecha.lugar}}</strong></p>
            <p ng-show="hayTema(fecha)">Tema: {{fecha.tema}}</p>
            <p ng-show="hayHora(fecha)">Hora: {{fecha.hora}}</p>
            <h3 ng-show="diasFaltantes(fecha)>0">Faltan {{diasFaltantes(fecha)}} días calendario</h3>
        </div>
    </div>

    <div class="row detalle"></div>

</div>

<div class="div-lista-footer"></div>

</ion-content>
</ion-view>