<ion-view view-title="" >
    <ion-content >
        </br>
    <div class="titulo-calendario">
        <div class="row">
            <div class="col sin-borde" >
                <div class="item sin-borde" href="#" ng-click="disminuirCampana()">
                    <i class="ion-chevron-left light"></i>
                </div>
            </div>
            <div class="col col-50">
                <a class="item" href="#" >
                    Campaña {{campana}}
                </a>
            </div>
            <div class="col col" >
                <div class="item" href="#" ng-click="aumentarCampana()" >
                    <i class="ion-chevron-right light"></i>
                </div>
            </div>
        </div>

    </div>
    </br>
<div class="list">

    <!-- Pedido Anterior - No Encontrado  -->
    <div ng-click="seleccionarFecha(fecha)" ng-repeat="fecha in fechasCampana | filter: noMostrar | orderBy: diasFaltantes" ng-class-odd="hoyPar(fecha)" ng-class-even="hoyImpar(fecha)" style="overflow: inherit ; text-overflow: inherit ;  white-space: wrap ;">  
        <div class="col col-20"><i ng-class="iconoRecordatorio(fecha)" style="font-size: 40px; padding-left: 15px;"></i></div>
        <div class="col col-75">
            <div class="row"><h2 ng-bind-html="textoMostrar(fecha)"></h2></div> 
            <div class="row"><p>{{fechaSeleccionada | date: 'EEE'}} {{fechaSeleccionada | date:'dd' }} de {{ fechaSeleccionada | date: 'MMMM' | pascal }}  del {{ fechaSeleccionada | date: 'yyyy' }}</p></div>
            <div class="row"><h3 ng-show="diasFaltantes(fecha)>0">Faltan {{diasFaltantes(fecha)}} días calendario</h3></div>
        </div>
        <i class="icon ion-chevron-right item-chevron" ng-show="esPedido(fecha)"></i></div>
    </div>

</div>

<div class="div-lista-footer"></div>

</ion-content>
</ion-view>