<ion-view view-title="" >
    <ion-content >
        <div class="titulo-calendario">
            <div class="row">
                <div class="col sin-borde" >
                    <div class="item sin-borde" href="#" ng-click="disminuirMes()" ng-show="mostrarAtras()" >
                        <i class="ion-chevron-left light"></i>
                    </div>
                </div>
                <div class="col col-50">
                    <a class="item" href="#" >
                        Campaña {{campana}}
                    </a>
                </div>
                <div class="col col" >
                    <div class="item" href="#" ng-click="aumentarMes()" >
                        <i class="ion-chevron-right light"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="list">

            <!-- Pedido Anterior - No Encontrado  -->
            <div class="row item" href="#" ng-repeat="fecha in fechasCampana">
                <div class="col-20" ng-click=""><i ng-class="iconoRecordatorio(fecha.actividad)" style="font-size: 40px"></i></div>
                <div class="col-80">
                    <div class="row"><h2>Actividad: {{fecha.actividad}}</h2></div> 
                    <div class="row"><p>Fecha: {{fecha.fecha}}</p></div>
                    <div class="row"><p ng-show="hayLugar(fecha)">Lugar: {{fecha.lugar}}</p></div>
                </div>
                <div class="col-10" style="font-size: 40px;" ng-show="esPedido(fecha)" href="#"><i class="icon ion-chevron-right"></i></div>
            </div>

        </div>

        <div class="div-lista-footer"></div>

    </ion-content>
</ion-view>