<ion-view view-title="" >
    <ion-content  >
        <div class="{{ segmentoFormateado() }}">
            <div class="row bread">
                <div class="col" >{{ nombre() }}</div>
            </div>

            <div class="list">

                <div class="estrella">
                    <span class="estrella-img"></span>
                    <span class="estrella-text">Mamá Empresaria <strong>{{ segmento() | pascal }}</strong></span>
                </div>

                <div class="campana">
                    <div class="campana-title">
                        Estás en <strong>Campaña {{campana.numero}}</strong>
                    </div>
                </div>

                <!-- SALDO -->

                <a class="item item-avatar alternate" href="#" ng-show="mostrarSaldoPagar() && saldo()>0" ng-click="mostrarAyudaSaldoPagar()">
                    <div class="icono bocina"></div>
                    <!-- <i class="icon ion-plus-circled"></i> -->
                    <h2>Tienes un pago pendiente por {{ saldo() | currency:"$":0 }}.
                        <span ng-show="tieneEncuentro()">
                            Realízalo
                <span ng-show="diasParaPago()>=1">el
                {{campana.fechaMontajePedido | date: 'dd' }} de  {{campana.fechaMontajePedido | date: 'MMMM' }}</span>
                <span ng-show="diasParaPago()<0 && !hoyEsEncuentro() && !hoyEsCorreteo()">el
                {{campana.fechaCorreteo | date: 'dd' }} de  {{campana.fechaCorreteo | date: 'MMMM' }}</span>
                        <span ng-show="diasParaPago()<=0 && (hoyEsEncuentro() || hoyEsCorreteo())">hoy</span> antes de las 4 de la tarde
                        </span>

                    </h2>
                    <p>
                        Si ya pagaste consulta de nuevo en 24 horas
                    </p>
                </a>

                <a class="item item-avatar alternate" href="#" ng-show="mostrarSaldoPagar() && saldo()==0" >
                    <div class="icono bocina"></div>
                    <h2>No tienes pagos pendientes
                    </h2>
                </a>

                <a class="item item-avatar alternate" href="#" ng-show="mostrarSaldoFavor()">
                    <div class="icono bocina"></div>
                    <h2>Tienes un saldo a favor de {{ saldo() | currency:"$":0 }}
                    </h2>
                    <p>&nbsp;</p>
                </a>

                <!-- CUPO -->

                <a class="item item-avatar" href="#" ng-show="mostrarCupo()">
                    <div class="icono moneda"></div>
                    <h2>Realiza tu próximo pedido máximo por {{ cupo() | currency:"$":0 }}
                    </h2>
                    <p>Si superas este valor debes cancelar el excedente el día que haces tu pedido</p>
                </a>

                <!-- MONTAJE DE PEDIDO -->

                <!-- (Momentos 1 y 2) -->
                <a class="item item-avatar {{ estiloAlternateFechaPago() }}" href="#" ng-show="diasParaPago()>0" >
                    <div class="icono calendario"></div>
                    <h2>Realiza tu próximo pedido el
                        {{campana.fechaMontajePedido | date: 'dd' }} de {{campana.fechaMontajePedido | date: 'MMMM' }}
                    </h2>
                    <p>Te quedan {{ diasParaPago() }} días calendario</p>
                </a>

                <!-- Encuentro (Momento 3) -->
                <a class="item item-avatar {{ estiloAlternateFechaPago() }}" href="#" ng-show="hoyEsEncuentro() && pedido().razonRechazo" >
                    <div class="icono calendario"></div>
                    <h2>Si aún no has realizado tu pedido,
                        puedes hacerlo máximo
                        hasta el {{campana.fechaCorreteo | date: 'dd' }} de  {{campana.fechaCorreteo | date: 'MMMM' }}
                        por la Página Web
                        antes de las 12:00 del medio día
                    </h2>
                </a>

                <!-- Correteo (Momento 5) -->
                <a class="item item-avatar {{ estiloAlternateFechaPago() }}" href="#" ng-show="diasParaPago()<0 && hoyEsCorreteo() && pedido().razonRechazo" >
                    <div class="icono calendario"></div>
                    <h2 ng-show="esAntesMedioDia()">Realiza tu pedido hoy por la Página Web antes de las 12:00 del medio día
                    </h2>
                    <h2 ng-show="!esAntesMedioDia()">Mamá ya no puedes montar pedido. <br />
                        El horario para Campaña {{campana.numero}} ya cerró.
                    </h2>
                    <p>&nbsp;</p>
                </a>

                <!-- Entre Encuentro y Correteo (Momento 4) -->
                <a class="item item-avatar {{ estiloAlternateFechaPago() }}" href="#" ng-show="diasParaPago()<0 && !hoyEsCorreteo() && pedido().razonRechazo" >
                    <div class="icono calendario"></div>
                    <h2 >Realiza tu pedido hasta el
                        {{ campana.fechaCorreteo | date: 'dd' }} de {{campana.fechaCorreteo | date: 'MMMM' }} por la
                        Página Web antes de las 12:00 del medio día
                    </h2>
                    <p>&nbsp;</p>
                </a>

                <a class="item" href="#" >
                    <h2 >&nbsp;
                    </h2>
                    <p>&nbsp;</p>
                </a>

            </div>
        </div>

        <!-- Zona de Automatización de Pruebas -->
        <input id="segmento" type="hidden" value="{{ segmento() | pascal }}" />
        <input id="campana" type="hidden" value="{{campana.numero}}" />
        <input id="saldo" type="hidden" value='{{ saldo() | currency:"$":0 }}' />
        <input id="cupo" type="hidden" value='{{ cupo() | currency:"$":0 }}' />
        <input id="diasParaPago" type="hidden" value='{{ diasParaPago() }}' />
        <input id="fechaMontajePedido" type="hidden" value="{{campana.fechaMontajePedido }}">
        <input id="fechaCorreteo" type="hidden" value="{{campana.fechaCorreteo }}">
    </ion-content>
</ion-view>