<ion-view view-title="" >
    <ion-content >

        <div class="titulo-calendario">
            <div class="row">
                <div class="col sin-borde" >
                    <a class="item sin-borde" href="#" ng-click="disminuirMes()" ng-show="mostrarAtras()" >
                        <
                    </a>
                </div>
                <div class="col col-50">
                    <a class="item" href="#" >
                        {{ fechaVisibleCalendario() | date: 'MMMM' | pascal }} de {{ fechaVisibleCalendario() | date: 'yyyy' }}
                    </a>
                </div>
                <div class="col" >
                    <a class="item" href="#" ng-click="aumentarMes()" >
                        >
                    </a>
                </div>
            </div>

        </div>

        <div class="row no-padding">
            <div class="col week">D</div>
            <div class="col week">L</div>
            <div class="col week">M</div>
            <div class="col week">M</div>
            <div class="col week">J</div>
            <div class="col week">V</div>
            <div class="col week">S</div>
        </div>

        <div class="calendario">

            <div class="row" ng-repeat="semana in semanas">
                <div class="col" ng-repeat="dia in semana">
                    <!--
                    <a id='{{dia.fechaCompleta}}' class="item item-icon-right {{estiloTexto(dia.fechaCompleta)}}" href="#" ng-click="seleccionarFecha(dia.fechaCompleta, true)" ng-show="!fechaEsCampanaVisible(dia.fechaCompleta)">
                        <i class="icon ion-edit" ng-show="false"></i>
                        <i class="icon ion-android-desktop" ng-show="fechaEsCorreteo(dia.fechaCompleta)"></i>
                        <i class="icon ion-ios-people-outline" ng-show="fechaEsEncuentro(dia.fechaCompleta)"></i>
                        <i class="icon ion-cube" ng-show="fechaEsRepartoPedido(dia.fechaCompleta)"></i>
                        {{ dia.dia }}
                    </a>

                    <a id='{{dia.fechaCompleta}}' class="item item-icon-right campana-actual {{estiloTexto(dia.fechaCompleta)}}" href="#" ng-click="seleccionarFecha(dia.fechaCompleta, true)" ng-show="fechaEsCampanaVisible(dia.fechaCompleta)">
                        <i class="icon ion-edit" ng-show="false"></i>
                        <i class="icon ion-android-desktop" ng-show="fechaEsCorreteo(dia.fechaCompleta)"></i>
                        <i class="icon ion-ios-people-outline" ng-show="fechaEsEncuentro(dia.fechaCompleta)"></i>
                        <i class="icon ion-cube" ng-show="fechaEsRepartoPedido(dia.fechaCompleta)"></i>
                        {{ dia.dia }}
                    </a>
                    -->

                    <a id='{{dia.fechaCompleta}}' class="item item-icon-right" style="background-color:{{fondoDia(dia.fechaCompleta)}}" href="#" ng-click="seleccionarFecha(dia.fechaCompleta, true)" >
                        <i class="icon ion-edit" ng-show="false"></i>
                        <i class="icon ion-android-desktop" ng-show="fechaEsCorreteo(dia.fechaCompleta)"></i>
                        <i class="icon ion-android-people" ng-show="fechaEsEncuentro(dia.fechaCompleta)"></i>
                        <i class="icon ion-edit" ng-show="fechaEsTomaPedido(dia.fechaCompleta)"></i>
                        <i class="icon ion-cube" ng-show="fechaEsRepartoPedido(dia.fechaCompleta)"></i>
                        {{ dia.dia }}
                    </a>

                </div>
            </div>

            <!-- Leyendas de las campañas -->
            <div class="padding campanas" >
               <span style="border-color: #FFF;" ng-repeat="campana in misCampanas">
               <span style="background-color:{{campana.color}}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  </span>&nbsp;
              Campaña {{ campana.numero }}
              </span>
            </div>

            <div class="padding">
                Haz clic en cualquiera de los íconos y encuentra más información para ti.
            </div>

            <div class="padding campanas" style="height: 100px;" >
                &nbsp;
            </div>

        </div>



    </ion-content>
</ion-view>