<ion-view view-title="" >
    <ion-content >
        <div class="list" >
            
            <a class="item item-avatar" href="#" >
              <img src="img/calendar.png">
              <h2>Se ha agotado el Producto Cacerola Vaca
              </h2>
              <p>Estará disponible la siguiente<br />Campaña</p>
            </a>
            
            <a class="item item-avatar" href="#" >
              <img src="img/calendar.png">
              <h2>Novedad en tu Pedido
              </h2>
              <p>Has superado el cupo<br> que tienes asignado</p>
            </a>
            
        </div>
    </ion-content>
</ion-view>