<ion-view view-title="" >
    <ion-content >

        <div class="row">
            <div class="col">Los productos listados a continuación no están disponibles para la Campaña:</div>
        </div>

        <div class="row {{estiloAlternate($index)}}" ng-repeat="item in agotados()">
            <div class="col">
            	{{ item.descripcion }}<br />	
                {{ item.codigo }}<br />
                Página {{ item.pagina }}<br />
                <span class="positive">{{ item.catalogo }}</span><br />
            </div>
        </div>

    </ion-content>
</ion-view>