<ion-view view-title="" >
    <ion-content >
    	
    <div class="row">
  <div class="col">Los productos listados a continuación son los agotados de Campaña:</div>
</div>	
    	
    	<div class="row">
  <div class="col col-50">Corona Pastillas Individuales x 1000g. Contiene 40 Pastillas </div>
  <div class="col">4315-5</div>
  <div class="col">Pág. 22</div>
</div>

    	<div class="row">
  <div class="col col-50">Cacerola Vaca</div>
  <div class="col">8327-6</div>
  <div class="col">Pág. 54</div>
</div>

    	<div class="row">
  <div class="col col-50">Imanes Religiosos con Luz</div>
  <div class="col">5469-0</div>
  <div class="col">Pág. 63</div>
</div>
    	
    </ion-content>
</ion-view>