<ion-view view-title="Login">
    <ion-content>
    <div class="content-login padding">
        <img src="img/login.png" class="login-img" />
        <h4>¡Hola Mamá Empresaria!</h4>
        <h3>Para identificarte, ingresa tu cédula.</h3>
        <form ng-submit="capturarCedula()">
                <span class="login-label">Cédula</span>
                <label class="login-input">
                    <input id="cedula" ng-model="datosInicio.cedula" type="number" >
                </label>
                <label class="login-button">
                    <input id="ingresar" type="button" value="Enviar" class="button button-block" ng-click="test()">
                    <!--  <button id="ingresar" class="button button-block" type="submit">Ingresar</button> -->
                </label>
        </form>
    </div>
    </ion-content>
    <div class="bar bar-footer footer-no-nutresa">
        <input id="ingresar" type="button" value="Enviar" class="button button-block button-footer" ng-click="test()">
  
</div>
    
</ion-view>