<ion-side-menus >
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-stable">
                <i class="icon ion-arrow-left-b"></i>
                Atras
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
            </ion-nav-buttons>     
            <ion-nav-buttons side="primary">
                <button class="button button-clear" menu-toggle="left">
                    <img style="padding-right:20px" src="img/tnovaventa.png" />
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="secondary"> 
                <button class="button button-icon button-clear ion-link" ng-click="openPopover($event)">
                </button>
                <button ng-class="hayNotificaciones()" ng-click="openModal()">
                </button>
                <div ng-show="contNotificaciones>0" class="fuente">{{contNotificaciones}}</div>
            </ion-nav-buttons>               
        </ion-nav-bar>
        <ion-nav-view name="menu-content"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">&nbsp;</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close>
                    &nbsp;
                </ion-item>
                <ion-item nav-clear menu-close ng-click="irACambioClave()">
                    Cambiar Clave
                </ion-item>
                <ion-item class="alternate" nav-clear menu-close ng-click="cerrarSesion()">
                    Cerrar Sesión
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>