<ion-modal-view>
    <ion-content>

        <div class="item item-divider">
            <p>Notas Credito</p>
        </div>
        <br />
        <div class="list" ng-repeat="nc in notasCredito.listaNC">    

            <div class="item item-divider">
                <p><strong>Año campaña {{nc.agnocampagna}}</strong></p>
            </div>

            <div ng-repeat="cl in nc.listaCl" ng-class-odd="alternar(true)" ng-class-even="alternar(false)">
                <div style="padding-left:40px">
                    <i class="icon ion-cash"></i>
                    <p><strong>CL:</strong> {{cl.cl}}</p></span>
                <p><strong>Nombre:</strong> {{cl.nombre}}</p></span>
            <p><strong>Valor:</strong> {{cl.valor | currency:"$":0}}</p></span>
        </div>
    </div>
</div>



<input type="button" value="Cerrar" class="modal-button button button-block" ng-click="closeModal()">

</ion-content>
</ion-modal-view>