<ion-view view-title="" >
    <ion-content>
        <div class="row bread">
            Mi Pedido
        </div>
        <div class="list" ng-show="mamaNueva">
            <div class="item item-avatar item-icon-right">
                <div class="icono-caja-abierta"></div>
                <h2>Una vez montes tu primer pedido podrás hacerle seguimiento desde esta opción
                </h2>
            </div>
        </div>

        <div class="list" ng-show="!mamaNueva">

            <!-- Pedido Anterior - No Encontrado  -->
            <div class="item item-avatar item-icon-right" ng-show="!ultimoEstadoPedidoAnterior()" >
                <div class="icono-caja-abierta"></div>
                <h2>Campaña {{getNumeroCampanaAnterior()}}
                </h2>
                <p ng-show="consultaPedidoAnteriorFinalizada()">
                    No tienes un pedido registrado para la campaña</p>
                <div ng-show="!consultaPedidoAnteriorFinalizada()">                    
                    <p>Estamos consultando el estado de tu pedido...</p>
                </div>
            </div>

            <!-- Pedido Anterior - Encontrado  -->
            <div class="item item-avatar item-icon-right" ng-click="irATrazabilidadAnterior()" ng-show="ultimoEstadoPedidoAnterior()" >
                <div class="icono-caja-abierta"></div>
                <h2>Campaña {{getNumeroCampanaAnterior()}}
                </h2>
                <p>{{nombreMostrar(estadoPedidoAnt.codigoEstado)}}<br />
                    {{formatoFecha(estadoPedidoAnt.fecha) | date: 'EEEE' | pascal}} {{formatoFecha(estadoPedidoAnt.fecha) | date:'dd' }} de {{ formatoFecha(estadoPedidoAnt.fecha) | date: 'MMMM' | pascal }}  del {{ formatoFecha(estadoPedidoAnt.fecha) | date: 'yyyy' }}
                </p>
                <span class="assertive" ng-show="hayAgotadosAnteriorReales()">
                    Tienes productos agotados en tu pedido
                </span>
                <i class="icon ion-chevron-right"></i>
            </div>

            <!-- Pedido Actual - Consultando -->
            <div class="item item-avatar item-icon-right alternate" ng-show="!consultaPedidoActualFinalizada()" >
                <div class="icono-caja-cerrada"></div>
                <h2>Campaña {{campana.numero}}
                </h2>
                <p>
                    Estamos consultando el estado de tu pedido...
                </p>
            </div>

            <!-- Pedido Actual - Encontrado  -->
            <div class="item item-avatar item-icon-right alternate" ng-click="irATrazabilidadActual()" ng-show="ultimoEstadoPedidoActual() && consultaPedidoActualFinalizada()" >
                <div class="icono-caja-cerrada"></div>
                <h2>Campaña {{campana.numero}}
                </h2>
                <p>{{nombreMostrar(estadoPedidoAct.codigoEstado)}}<br />
                    {{formatoFecha(estadoPedidoAct.fecha) | date: 'EEEE' | pascal}} {{formatoFecha(estadoPedidoAct.fecha) | date:'dd' }} de {{ formatoFecha(estadoPedidoAct.fecha) | date: 'MMMM' | pascal }}  del {{ formatoFecha(estadoPedidoAct.fecha) | date: 'yyyy' }}
                </p>
                <span class="assertive" ng-show="!estadoEncontrado('Facturado') && estadoEncontrado('Novedad') && !estadoEncontrado('Anulado') && mostrarNovedad(buscarEstado('Novedad').motivo)">
                    Tu pedido presenta novedad. Te invitamos a resolverla
                </span>
                <span class="assertive" ng-show="agotadosPedidoActual()">
                    Tienes productos agotados en tu pedido
                </span>
                <i class="icon ion-chevron-right"></i>
            </div>

            <!-- Pedido Actual - No Encontrado y es Encuentro -->
            <div class="item item-avatar item-icon-right alternate" ng-show="!ultimoEstadoPedidoActual() && hoyEsEncuentro() && consultaPedidoActualFinalizada()" >
                <div class="icono-caja-cerrada"></div>
                <h2>Campaña {{campana.numero}}
                </h2>
                <p>Aún no tenemos información sobre tu pedido. Si lo enviaste hoy por favor verifica mañana.
                </p>
            </div>

            <!-- Pedido Actual - No Encontrado y es Posteriores a Encuentro -->
            <div class="item item-avatar item-icon-right alternate" ng-show="!ultimoEstadoPedidoActual() && encuentroRealizado() && !hoyEsEncuentro() && consultaPedidoActualFinalizada()" >
                <div class="icono-caja-cerrada"></div>
                <h2>Campaña {{campana.numero}}
                </h2>
                <span>Aún no tenemos información sobre
                    tu pedido. Si lo enviaste hoy por favor
                    verifica mañana. Si ya hiciste el envío de
                    tu pedido y aún no registra verifica: <br /></span>
                <p><strong>1</strong> Que no se haya quedado en estado "Guardado" en la página web. </p>
                <p><strong>2</strong> Que lo hayas llevado al buzón en el horario y fecha establecida.</p>
            </div>

            <!-- Pedido Actual - No Encontrado y todavía no es Encuentro -->
            <div class="item item-avatar item-icon-right alternate" ng-show="!ultimoEstadoPedidoActual() && !encuentroRealizado() && consultaPedidoActualFinalizada()" >
                <div class="icono-caja-cerrada"></div>
                <h2>Campaña {{campana.numero}}
                </h2>
                <p>Aún no tenemos información sobre
                    tu pedido de esta campaña, te invitamos
                    a consultar a partir del {{fechaLuegoEncuentro() | date: 'dd' }} de {{fechaLuegoEncuentro() | date: 'MMMM' }}.
                </p>
            </div>

        </div>

        <!-- Zona de Automatización de Pruebas -->
        <!-- Los valores de este campo se llenan desde el Controller -->
        <input id="estadoPedidoActual" type="hidden" value='' />
        <input id="estadoPedidoAnterior" type="hidden" value='' />

    </ion-content>
</ion-view>