<ion-view view-title="" >
    <ion-content>
        <div class="row bread">
            Mi Pedido
        </div>

        <!-- Agotados -->
        <div class="list list-inset" ng-show="agotados().agotadosME" >
            <a class="item item-icon-right assertive" ng-click="mostrarAgotados()" href="#">
                <i class="icon ion-plus-circled"></i>
                <span class="assertive">Tu pedido presenta algunos agotados. Te invitamos para ver el detalle.</span>
            </a>
        </div>

        <!-- Novedad gestionable -->
        <div class="list list-inset no-procesado" ng-show="!estadoEncontrado('Facturado') && estadoEncontrado('Novedad') && !estadoEncontrado('Anulado') && mostrarNovedad(buscarEstado('Novedad').motivo)">
            <div class="item">
                <span class="highlighted">
                    Tu pedido presenta novedad. Te invitamos a resolverla
                </span>
            </div>
            <div class="item assertive" ng-click="verAyudaNovedad()" href="#">
                <div ng-show="motivoNovedadEncontrado('morosa')">
                    Mamá, en estos momentos cuentas con un
                    saldo pendiente por pagar de {{ saldo() | currency:"$":0 }}.
                    Cancélalo lo más pronto posible.
                    Recuerda que durante el día se están
                    reflejando los pagos.
                    Si ya cancelaste ignora este mensaje.
                </div>
                <div ng-show="motivoNovedadEncontrado('cupo') || motivoNovedadEncontrado('tope')">
                    Mamá, has excedido el valor máximo
                    con el que cuentas para montar tu pedido.
                    Paga el excedente
                    <span ng-show="hoyEsCorreteo()">
                        hoy
                    </span>
                    <span ng-show="!hoyEsCorreteo()">
                        máximo el {{campana.fechaCorreteo | date: 'dd' }} de  {{campana.fechaCorreteo | date: 'MMMM' }}</span>
                    antes a las 4 de la tarde
                    </span>
            </div>
        </div>
        </div>

    <!-- Anulado -->
    <div class="list list-inset no-procesado" ng-show="estadoEncontrado('Anulado') && estadoEncontrado('Novedad')">
        <div class="item">
            <span class="highlighted">Tu pedido no será enviado, puedes ver el detalle a continuación:</span>
        </div>
        <!-- General -->
        <div class="item assertive" ng-show="!motivoNovedadEncontrado('morosa') && !motivoNovedadEncontrado('cupo')&& !motivoNovedadEncontrado('tope')">
            <span>
                Mamá tu pedido no será enviado para conocer
                la razón de esta situación comunícate con tu
                Mamá Líder o con la Línea de Atención {{ lineaAtencion }}
            </span>
        </div>

        <!-- Morosidad -->
        <div class="item assertive" ng-show="motivoNovedadEncontrado('morosa')">
            <span>
                Mamá Empresaria tu pedido no será enviado
                ya que aún cuentas con un saldo pendiente
                por pagar. Si realizaste el pago, envía el
                comprobante a servicioalcliente@novaventa.com
            </span>
        </div>

        <!-- Cupo -->
        <div class="item assertive" ng-show="motivoNovedadEncontrado('cupo') || motivoNovedadEncontrado('tope')">
            <span>
                Mamá Empresaria tu pedido no será enviado
                ya que excediste el valor permitido para
                hacer tu pedido.
            </span>
        </div>
    </div>

    <!-- Sin información y es encuentro -->
    <div class="list no-procesado" ng-show="pedido().razonRechazo && hoyEsEncuentro()">
        <div class="item">
            <span class="highlighted">
                Aún no tenemos información sobre tu pedido. Si lo enviaste hoy por favor verifica mañana.
            </span>
        </div>
    </div>

    <!-- Sin información y ya es posteriores a encuentro -->
    <div class="list no-procesado" ng-show="pedido().razonRechazo && encuentroRealizado() && !hoyEsEncuentro()">
        <div class="item">
            <span class="highlighted">Aún no tenemos información sobre <br />
                tu pedido. Si lo enviaste hoy por favor <br />
                verifica mañana. Si ya hiciste el envío de <br />
                tu pedido y aún no registra verifica: <br /></span>
            <p><strong>1</strong> Que no se haya quedado en estado <br />
                "Guardado" en la página web. </p>
            <p><strong>2</strong> Que lo hayas llevado al buzón en <br />los horarios y fechas establecidas.</p>

        </div>
    </div>

    <div class="list no-procesado" ng-show="pedido().razonRechazo && !encuentroRealizado()">
        <div class="item" href="#" >
            <span class="highlighted"> Aún no tenemos información sobre
                tu pedido de esta campaña, te invitamos
                a consultar a partir del {{fechaLuegoEncuentro() | date: 'dd' }} de {{fechaLuegoEncuentro() | date: 'MMMM' }}.</span>
        </div>
    </div>

    <div class="list pedido">

        <div ng-show="!pedido().razonRechazo">

            <div class="item selected" ng-repeat="estado in pedidoAnterior.historiaEstados | filter: noMostrar">
                <div class="row">
                    <div class="col-30" style="padding-top: 20px">
                        <img ng-src="{{imagenPedido(estado)}}">
                    </div>
                    <div class="col">
                        <h2 class="balanced">{{nombreMostrar(estado.codigoEstado)}}</h2>
                        <p >{{formatoFecha(estado.fecha) | date: 'EEE'}} {{formatoFecha(estado.fecha) | date:'dd' }} de {{ formatoFecha(estado.fecha) | date: 'MMMM' | pascal }}  del {{ formatoFecha(estado.fecha) | date: 'yyyy' }}</p>
                        <p class="item-formato-anterior" ng-show="fechaRepartoPedido() != '' && esEntregado(estado.codigoEstado)">
                            Posiblemente recibas <br />tu pedido el {{formatoFecha(fechaRepartoPedido(estado.fecha)) | date: 'EEE'}} {{formatoFecha(fechaRepartoPedido(estado.fecha)) | date:'dd' }} de {{ formatoFecha(fechaRepartoPedido(estado.fecha))) | date: 'MMMM' | pascal }}  del {{ formatoFecha(fechaRepartoPedido(estado.fecha)) | date: 'yyyy' }}</p>
                    </div>
                    <div class="novedad col-16" ng-show="novedadEncontrada(estado)" ng-click="buscarTextoNovedad(estado)">
                        <i class="icon ion-plus-circled item-chevron" ></i>
                    </div>
                </div>
            </div>                 

        </div>

    </div>

    <!-- Zona de Automatización de Pruebas -->
    <!-- Los valores de este campo se llenan desde el Controller -->
    <input id="estados" type="hidden" value='' />

    <div class="div-lista-footer"></div>

    </ion-content>
</ion-view>