<ion-view view-title="" >
    <ion-content>
        <div class="row bread">
            Mi Pedido
        </div>


        <!-- Agotados -->
        <div class="list list-inset" ng-show="hayAgotadosAnteriorReales()" >
            <div class="item item-icon-right assertive" ng-click="mostrarAgotados()" href="#">
                <i class="icon ion-plus-circled"></i>
                <span class="assertive">Tu pedido presenta algunos agotados. Te invitamos para ver el detalle.</span>
            </div>
        </div>

        <!-- Anulado -->
        <div class="list list-inset no-procesado" ng-show="estadoEncontrado('Anulado') && estadoEncontrado('Novedad')">

            <div class="item">
                <span class="highlighted">Tu pedido no será enviado, puedes ver el detalle a continuación:</span>
            </div>

            <!-- General -->
            <div class="item assertive" ng-show="!motivoNovedadEncontrado('morosa') && !motivoNovedadEncontrado('cupo') && !motivoNovedadEncontrado('tope') ">
                <span>
                    Mamá tu pedido no será enviado para conocer
                    la razón de esta situación comunícate con tu
                    Mamá Líder o con la Línea de Atención {{ lineaAtencion }}
                </span>
            </div>

            <!-- Morosidad -->
            <div class="item assertive" ng-show="motivoNovedadEncontrado('morosa')">
                <span>
                    Mamá Empresaria tu pedido no será enviado
                    ya que aún cuentas con un saldo pendiente
                    por pagar. Si realizaste el pago, envía el
                    comprobante a servicioalcliente@novaventa.com
                   </span>
            </div>

            <!-- Cupo -->
            <div class="item assertive" ng-show="motivoNovedadEncontrado('cupo') || motivoNovedadEncontrado('tope')">
                    <span>
                    Mamá Empresaria tu pedido no será enviado
                    ya que excediste el valor permitido para
                    hacer tu pedido.
                        </span>
            </div>
        </div>

        <!-- Sin información y no es encuentro todavía, primeros 5 días -->
        <div class="list no-procesado" ng-show="pedido().razonRechazo">
            <div class="item" href="#" >
                <span class="highlighted">No tienes un pedido registrado para la campaña {{ campanaAnterior.numero }}.</span>
            </div>
        </div>

        <div class="list pedido">

            <div ng-show="!pedido().razonRechazo">

                <div class="item selected" href="#" ng-show="estadoEncontrado('Recibido')" >
                    <img src="img/pedido1-selected.png">
                    <h2 class="balanced">Recibido en la <br />Empresa</h2>
                    <p >{{ buscarEstado('Recibido').fecha | date: 'dd'}} de {{ buscarEstado('Recibido').fecha | date: 'MMMM'}}</p>
                </div>

                <div class="item selected" href="#" ng-show="estadoEncontrado('Anulado')" >
                    <img src="img/anulado.png">
                    <h2 class="balanced">Anulado</h2>
                    <p >{{ buscarEstado('Anulado').fecha | date: 'dd'}} de {{ buscarEstado('Anulado').fecha | date: 'MMMM'}}</p>
                </div>

                <div class="item selected" href="#" ng-show="estadoEncontrado('Facturado') && !estadoEncontrado('Anulado')" >
                    <img src="img/pedido2-selected.png">
                    <h2 class="balanced">Facturado
                    </h2>
                    <p>{{ buscarEstado('Facturado').fecha | date: 'dd'}} de {{ buscarEstado('Facturado').fecha | date: 'MMMM'}}</p>
                </div>

                <div class="item selected" href="#" ng-show="estadoEncontrado('En proceso de empaque') && !estadoEncontrado('Anulado')" >
                    <img src="img/pedido3-selected.png">
                    <h2 class="balanced">En proceso de <br /> empaque</h2>
                    <p>{{ buscarEstado('En proceso de empaque').fecha | date: 'dd'}} de {{ buscarEstado('En proceso de empaque').fecha | date: 'MMMM'}}</p>
                </div>

                <div class="item selected" href="#" ng-show="estadoEncontrado('Entregado al transportador') && !estadoEncontrado('Anulado')" >
                    <img src="img/pedido4-selected.png">
                    <h2 class="balanced">Despachado desde <br /> Novaventa</h2>
                    <p>{{ buscarEstado('Entregado al transportador').fecha | date: 'dd'}} de {{ buscarEstado('Entregado al transportador').fecha | date: 'MMMM'}}</p>
                    <p class="item-formato-anterior" ng-show="fechaRepartoPedido() != ''">
                        Posiblemente recibas tu <br /> pedido el {{ fechaRepartoPedido(buscarEstado('Facturado').fecha) | date:'dd' }} de <br /> {{ fechaRepartoPedido(buscarEstado('Facturado').fecha) | date:'MMMM' }}</p>
                </div>
                
                <div class="item selected" href="#" ng-show="estadoEncontrado('En Bodega Operador Secundario') && !estadoEncontrado('Anulado')" >
                    <img src="img/icono-garaje.png">
                    <h2 class="balanced">En bodega del <br />transportador</h2>
                    <p>{{ buscarEstado('En Bodega Operador Secundario').fecha | date: 'dd'}} de {{ buscarEstado('En Bodega Operador Secundario').fecha | date: 'MMMM'}}</p>                    
                </div>
                
                <div class="item selected" href="#" ng-show="estadoEncontrado('En ruta') && !estadoEncontrado('Anulado')" >
                    <img src="img/icono-mapa.png">
                    <p>{{ buscarEstado('En ruta').fecha | date: 'dd'}} de {{ buscarEstado('En ruta').fecha | date: 'MMMM'}}</p>                    
                </div>
                
                <div class="item selected" href="#" ng-show="estadoEncontrado('En ruta nuevamente') && !estadoEncontrado('Anulado')" >
                    <img src="img/icono-envio-doble.png">
                    <p>{{ buscarEstado('En ruta nuevamente').fecha | date: 'dd'}} de {{ buscarEstado('En ruta nuevamente').fecha | date: 'MMMM'}}</p>                    
                </div>
                
                <div class="item selected" href="#" ng-show="estadoEncontrado('Entregado totalmente') && !estadoEncontrado('Anulado')" >
                    <img src="img/pedido4-selected.png">
                    <h2 class="balanced">Entregado</h2>
                    <p>{{ buscarEstado('Entregado totalmente').fecha | date: 'dd'}} de {{ buscarEstado('Entregado totalmente').fecha | date: 'MMMM'}}</p>                    
                </div>
                
                <div class="item selected" href="#" ng-show="estadoEncontrado('Entregado parcialmente') && !estadoEncontrado('Anulado')" >
                    <img src="img/pedido4-selected.png">
                    <h2 class="balanced">Entregado con novedad</h2>
                    <p>{{ buscarEstado('Entregado parcialmente').fecha | date: 'dd'}} de {{ buscarEstado('Entregado parcialmente').fecha | date: 'MMMM'}}</p>                    
                </div>
                
                <div class="item selected" href="#" ng-show="estadoEncontrado('No entregado') && !estadoEncontrado('Anulado')" >
                    <img src="img/pedido4-selected.png">
                    <h2 class="balanced">No entregado</h2>
                    <p>{{ buscarEstado('No entregado').fecha | date: 'dd'}} de {{ buscarEstado('No entregado').fecha | date: 'MMMM'}}</p>                    
                </div>
        
                <!-- Se agregan los estados de Tracking Externo -->
        
                <div class="item selected" href="#" ng-show="estadoEncontrado('En bodega operador secundario') && !estadoEncontrado('Anulado')" >
                    <img src="img/bodega_transp.png">
                    <p>{{buscarEstado('En bodega operador secundario').fecha | date: 'dd'}} de {{buscarEstado('En bodega operador secundario').fecha | date: 'MMMM'}}</p>                    
                </div>
    
                <div class="item selected" href="#" ng-show="estadoEncontrado('En ruta') && !estadoEncontrado('Anulado')" >
                    <img src="img/en_camino.png">
                    <h2 class="balanced">En camino</h2>
                    <p>{{buscarEstado('En ruta').fecha | date: 'dd'}} de {{buscarEstado('En ruta').fecha | date: 'MMMM'}}</p>                    
                </div>
    
                <div class="item selected" href="#" ng-show="estadoEncontrado('En ruta nuevamente') && !estadoEncontrado('Anulado')" >
                    <img src="img/entrega_nuevamte.png">
                    <p>{{buscarEstado('En ruta nuevamente').fecha | date: 'dd'}} de {{buscarEstado('En ruta nuevamente').fecha | date: 'MMMM'}}</p>                    
                </div>

                <div class="item selected" href="#" ng-show="estadoEncontrado('Entregado totalmente') && !estadoEncontrado('Anulado')" >
                    <img src="img/entregado.png">
                    <h2 class="balanced">Entregado</h2>
                    <p>{{buscarEstado('Entregado totalmente').fecha | date: 'dd'}} de {{buscarEstado('Entregado totalmente').fecha | date: 'MMMM'}}</p>                    
                </div>

                <div class="item selected" href="#" ng-show="estadoEncontrado('Entregado parcialmente') && !estadoEncontrado('Anulado')" >
                    <img src="img/entregado_novedad.png">
                    <p>{{buscarEstado('Entregado parcialmente').fecha | date: 'dd'}} de {{buscarEstado('Entregado parcialmente').fecha | date: 'MMMM'}}</p>                    
                </div>

                <div class="item selected" href="#" ng-show="estadoEncontrado('No entregado') && !estadoEncontrado('Anulado')" >
                    <img src="img/entregado_novedad.png">
                    <h2 class="balanced">No entregado</h2>
                    <p>{{buscarEstado('No entregado').fecha | date: 'dd'}} de {{buscarEstado('No entregado').fecha | date: 'MMMM'}}</p>                    
                </div>

            </div>
        </div>

        <a class="item">
            <h2>&nbsp;</h2>
        </a>

        <!-- Zona de Automatización de Pruebas -->
        <!-- Los valores de este campo se llenan desde el Controller -->
        <input id="estados" type="hidden" value='' />

    </ion-content>
</ion-view>