<ion-view view-title="" >
    <ion-content>
        <div class="row bread">
            Mi Pedido
        </div>
        
        <div class="list list-inset no-procesado" ng-show="!estadoEncontrado('Facturado') && estadoEncontrado('Novedad') && !estadoEncontrado('Anulado') && mostrarNovedad(buscarEstado('Novedad').motivo)">
            <div class="item">
                <span class="highlighted">
                Tu pedido presenta novedad. <br />Te invitamos a resolverla
                    </span>
            </div>
            <a class="item assertive" ng-click="verAyudaNovedad()" href="#">
                <div ng-show="motivoNovedadEncontrado('morosa')">
                    Mamá, en estos momentos cuentas con un <br />
                    saldo pendiente por pagar de {{ saldo() | currency:"$":0 }}. <br />
                    Cancélalo lo más pronto posible.<br /> 
                    Recuerda que durante el día se están<br />
                    reflejando los pagos.<br />
                    Si ya cancelaste ignora este mensaje.
                </div>
                <div ng-show="motivoNovedadEncontrado('cupo')">
                    
                </div>
                
                {{ buscarEstado('Novedad').motivo }}
            </a>
        </div>
        
        <!-- 
        <div class="list list-inset" ng-show="false" >
            <a class="item item-icon-right assertive" href="#">
                <i class="icon ion-ios-arrow-down" ></i>
                Tu pedido tiene presenta algunos agotados.
            </a>
            <a class="item assertive" href="#" ng-repeat="agotado in agotados()" >
                <h2>{{ agotado.nombre }}</h2>
                <p>{{ agotado.tipoAgotado }}</p>
            </a>
        </div>
        -->

        <div class="list list-inset no-procesado" ng-show="estadoEncontrado('Anulado') && estadoEncontrado('Novedad')">
            <div class="item">
                <span class="highlighted">Tu pedido no será enviado,<br /> puedes ver el detalle a continuación:</span>
            </div>
            <p class="item assertive" ng-click="verAyudaNovedad()">
                {{ buscarEstado('Novedad').motivo }}
            </p>
            
            <p class="item assertive" ng-show="motivoNovedadEncontrado('morosa')">
                    Mamá, en estos momentos cuentas con un <br />
                    saldo pendiente por pagar de {{ saldo() | currency:"$":0 }}. <br />
                    Cancélalo lo más pronto posible.<br /> 
                    Recuerda que durante el día se están<br />
                    reflejando los pagos.<br />
                    Si ya cancelaste ignora este mensaje.
                </p>
            
        </div>
        
        <div class="list no-procesado" ng-show="pedido().razonRechazo && hoyEsCorreteo()">
            <div class="item">
                <span class="highlighted">Aún no tenemos información sobre tu pedido <br />. Si lo enviaste hoy por favor verifica mañana. <br />
                Si ya hiciste el envío de tu pedido y aún <br />
                no registra verifica: <br /></span>
                <p><strong>1</strong> Que no se haya quedado en estado
                "Guardado" en la página web. </p>
                <p><strong>2</strong> Que lo hayas llevado al buzón en los horarios y fechas establecidas.</p>
            </div>
        </div>
        
        <div class="list no-procesado" ng-show="pedido().razonRechazo && !hoyEsCorreteo()">
           <div class="item" href="#" >
                <span class="highlighted"> Aún no tenemos información sobre tu pedido<br /> de esta campaña, te invitamos <br />
                    a consultar a partir del {{fechaCorreteo() | date: 'dd' }} de {{fechaCorreteo() | date: 'MMMM' }}.</span>
            </div>
        </div>

        <div class="list pedido">
            
            <div ng-show="!pedido().razonRechazo">

            <a class="item selected" href="#" ng-show="estadoEncontrado('Recibido')" >
                <img src="img/pedido1-selected.png">
                <h2 class="balanced">Recibido
                </h2>
                <p >{{ buscarEstado('Recibido').fecha | date: 'dd'}} de {{ buscarEstado('Recibido').fecha | date: 'MMMM'}}</p>
            </a>

            <a class="item" href="#" ng-show="!estadoEncontrado('Recibido')" >
                <img src="img/pedido1.png">
                <h2 class="balanced">Recibido
                </h2>
                <p >&nbsp;</p>
            </a>
            
            <a class="item selected" href="#" ng-show="estadoEncontrado('Anulado')" >
               <img src="img/anulado.png">
               <h2 class="balanced">Anulado
               </h2>
               <p >{{ buscarEstado('Anulado').fecha | date: 'dd'}} de {{ buscarEstado('Anulado').fecha | date: 'MMMM'}}</p>
            </a>
            
            <a class="item selected" href="#" ng-show="estadoEncontrado('Facturado') && !estadoEncontrado('Anulado')" >
                <img src="img/pedido2-selected.png">
               <h2 class="balanced">Facturado
               </h2>
               <p>{{ buscarEstado('Facturado').fecha | date: 'dd'}} de {{ buscarEstado('Facturado').fecha | date: 'MMMM'}}</p>
            </a>
            
            <a class="item" href="#" ng-show="!estadoEncontrado('Facturado') && !estadoEncontrado('Anulado')" >
                <img src="img/pedido2.png">
               <h2 class="balanced">Facturado
               </h2>
               <p>&nbsp;</p>
            </a>
            
            <a class="item selected" href="#" ng-show="estadoEncontrado('En proceso de empaque') && !estadoEncontrado('Anulado')" >
               <img src="img/pedido3-selected.png">
               <h2 class="balanced">En proceso de <br /> empaque
               </h2>
               <p>{{ buscarEstado('En proceso de empaque').fecha | date: 'dd'}} de {{ buscarEstado('En proceso de empaque').fecha | date: 'MMMM'}}</p>
            </a>
            
            <a class="item" href="#" ng-show="!estadoEncontrado('En proceso de empaque') && !estadoEncontrado('Anulado')" >
               <img src="img/pedido3.png">
               <h2 class="balanced">En proceso de <br /> empaque
               </h2>
               <p>&nbsp;</p>
            </a>
            
            <a class="item selected" href="#" ng-show="estadoEncontrado('Entregado al transportador') && !estadoEncontrado('Anulado')" >
               <img src="img/pedido4-selected.png">
               <h2 class="balanced">Entregado al <br /> transportador
               </h2>
               <p>{{ buscarEstado('Entregado al transportador').fecha | date: 'dd'}} de {{ buscarEstado('Entregado al transportador').fecha | date: 'MMMM'}}</p>
                <p ng-show="fechaRepartoPedido() != ''">Posiblemente recibas tu <br /> pedido el {{ fechaRepartoPedido() | date:'dd' }} de {{ fechaRepartoPedido() | date:'MMMM' }}</p>
            </a>
            
            <a class="item" href="#" ng-show="!estadoEncontrado('Entregado al transportador') && !estadoEncontrado('Anulado')" >
               <img src="img/pedido4.png">
               <h2 class="balanced">Entregado al <br /> transportador
               </h2>
                <p ng-show="fechaRepartoPedido() != ''">Posiblemente recibas tu <br /> pedido el {{ fechaRepartoPedido() | date:'dd' }} de {{ fechaRepartoPedido() | date:'MMMM' }}</p>
            </a>
            
            </div>

            <!-- 
            <a class="item item-avatar" href="#" ng-repeat="pedido in pedido().historiaEstados" ng-show="pedido.estado != 'Impresión'" >
               <img src="img/invoice.jpg">
               <h2>{{ cambiarNombreEstado(pedido.estado)}}
               </h2>
               <p>{{pedido.fecha | date: 'dd'}} de {{pedido.fecha | date: 'MMMM'}}</p>
                <div style="border-left: solid 1px #ccc; padding-left: 5px;" ng-show="pedido.estado != 'Cargue'">&nbsp;
                </div>
            </a> -->
        </div>

        <a class="item">
            <h2>&nbsp;</h2>
        </a>

    </ion-content>
</ion-view>