<ion-view view-title="" >
    <ion-content>
        <div class="list" >
            <label class="item item-avatar">
                <div class="icono punto"></div>
                <h2>Puntos disponibles</h2>
                <p>
                    Estos son los puntos que puedes redimir
                </p>
                <span class="item-note">
                    <strong>{{ puntosDisponibles() }}</strong>
                </span>
            </label>
            <label class="item item-avatar" ng-show="mostrarPuntosPorPerder()">
                <div class="icono bocina"></div>
                <div ng-show="mostrarMensajeAcumulados()">
                    Puntos que no acumulas
                    <span ng-show="diasParaPago()>=1">si no pagas antes del
                        {{campana.fechaMontajePedido | date: 'dd' }} de  {{campana.fechaMontajePedido | date: 'MMMM' }}
                    </span>
                    <span ng-show="diasParaPago()<0 && !hoyEsEncuentro() && !hoyEsCorreteo()">
                        si no pagas máximo el
                        {{campana.fechaCorreteo | date: 'dd' }} de  {{campana.fechaCorreteo | date: 'MMMM' }}
                    </span>
                    <span ng-show="diasParaPago()<=0 && (hoyEsEncuentro() || hoyEsCorreteo())">
                        si no pagas hoy
                    </span> antes de las 4 de la tarde
                    <br />
                </div>
                Estos puntos se verán reflejados como disponibles después del {{campana.fechaCorreteo | date: 'dd' }} de  {{campana.fechaCorreteo | date: 'MMMM' }}.
                <span class="item-note">
                    <strong> {{ puntosPorPerder() }} </strong>
                </span>
            </label>
            <label class="item item-avatar" ng-show="mostrarPuntosAVencer()">
                <div class="icono calendario"></div>
                Puntos a vencer en Campaña {{campana.numero}} <!--  {{campanaVencimientoPuntos()}} -->
                <span class="item-note">
                    <strong> {{ puntosAVencer() }} </strong>
                </span>
            </label>
            <a class="item item-avatar item-icon-right" ng-show="mostrarPuntosRedimidos()" ng-click="mostrarPremios()" >
               <div class="icono regalo"></div>
                Puntos redimidos campaña anterior
                <span class="item-note">
                  <strong> {{ puntosRedimidos() }} </strong>
                </span>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>