<ion-view view-title="" >
    <ion-content >
        <div class="row" >
             <div class="col" >  
                <a class="item item-thumbnail-left" href="#" >
                  <img src="img/gift.png">
                  <h2>Secador
                  </h2>
                  <p>200 puntos</p>
                </a>
             </div>
        </div>     
        <div class="row" >     
             <div class="col" >
                <a class="item item-thumbnail-left" href="#" >
                  <img src="img/gift.png">
                  <h2>Almohada
                  </h2>
                  <p>50 puntos</p>
                </a>
             </div>
        </div>
        <div class="row" >
             <div class="col" >  
                <a class="item item-thumbnail-left" href="#" >
                  <img src="img/gift.png">
                  <h2>Morral
                  </h2>
                  <p>100 puntos</p>
                </a>
             </div>
         </div>     
        <div class="row" >    
             <div class="col" >
                <a class="item item-thumbnail-left" href="#" >
                  <img src="img/gift.png">
                  <h2>Cobija
                  </h2>
                  <p>30 puntos</p>
                </a>
             </div>
        </div>
    </ion-content>
</ion-view>