<ion-view view-title="" >
    <ion-content>
        <div class="list"  >
            <a class="item item-thumbnail-left" ng-repeat="premio in puntosCampanaAnterior.productosRedimidos" >
               <img src="img/catalogo.png">
               <h2>{{ premio.premioRedimido }}</h2>
               <p>{{ premio.puntosRedimidos }} puntos</p>
               <p>{{ premio.cantidad }} <span ng-show="premio.cantidad == 1">unidad</span>
                  <span ng-show="premio.cantidad > 1">unidades</span>
               </p>
            </a>
        </div>
    </ion-content>
</ion-view>