<ion-view view-title="Puntos de Pago - Listado" >
    <ion-content>
        <ion-list>
            <ion-item  class="item" ng-repeat="punto in puntos()" href="#/app/menu/tabs/puntospago/puntospagodetalle/0" >
                <h2>{{ punto.nombre }}</h2><br />
                {{ punto.direccion }} <br />
                {{ punto.horario }}
                <span class="item-note">
                  {{ punto.distancia }} kms
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>