<ion-popover-view style="margin-top: 0px; height: 120px;">


    <ion-header-bar>
        <div class="row">
            <div class="col-90">
                <h4 style="display: inline;"><strong>Síguenos</strong></h4>
            </div>
            <div class="col-10" ng-click="closePopover()">
                <i class="icon icono-social-close ion-close"></i>
            </div>
        </div>
    </ion-header-bar>

    <ion-content>        
        <div class="row">
            <div class="col div-social" ng-click="abrirLink(0)">
                <i class="icon icono-social-twitter ion-social-twitter"></i>
            </div>
            <div class="col div-social" ng-click="abrirLink(1)">
                <i class="icon icono-social-facebook ion-social-facebook"></i>
            </div>
            <div class="col div-social" ng-click="abrirLink(2)">
                <i class="icon icono-social-youtube ion-social-youtube"></i>
            </div>
            <div class="col div-social" ng-click="abrirLink(3)">
                <i class="icon icono-social-pinterest ion-social-pinterest"></i>
            </div>
        </div>
    </ion-content>


</ion-popover-view>