<ion-popover-view style="width=80px; height: 120px">


    <ion-header-bar>
        <div class="row">
            <div class="col-90">
                <h4><strong>Síguenos</strong></h4>
            </div>
            <div class="col-10" ng-click="closePopover()">
                <i class="icon icono-social-close ion-close"></i>
            </div>
        </div>
    </ion-header-bar>

    <ion-content>        
        <div class="row">
            <div class="col div-social" ng-click="abrirLink('https://twitter.com/Novaventa_Catg/')">
                <i class="icon icono-social-twitter ion-social-twitter"></i>
            </div>
            <div class="col div-social" ng-click="abrirLink('https://www.facebook.com/Novaventa/')">
                <i class="icon icono-social-facebook ion-social-facebook"></i>
            </div>
            <div class="col div-social" ng-click="abrirLink('https://www.youtube.com/user/novaventaoficial/')">
                <i class="icon icono-social-youtube ion-social-youtube"></i>
            </div>
            <div class="col div-social" ng-click="abrirLink('https://es.pinterest.com/novaventa/')">
                <i class="icon icono-social-pinterest ion-social-pinterest"></i>
            </div>

        </div>
    </ion-content>


</ion-popover-view>