<ion-tabs class="tabs-top tabs-striped tabs-positive">
    <ion-tab title="Fechas" href="#/app/menu/tabs/mas/informacion/fechas" >
        <ion-nav-view name="informacion-fechas-content"></ion-nav-view>
    </ion-tab>
    <!--
    <ion-tab title="Agotados" href="#/app/menu/tabs/mas/informacion/agotados" >
        <ion-nav-view name="informacion-agotados-content"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Notificaciones" href="#/app/menu/tabs/mas/informacion/notificaciones" >
        <ion-nav-view name="informacion-notificaciones-content"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Noticias" href="#/app/menu/tabs/mas/informacion/noticias" >
        <ion-nav-view name="informacion-noticias-content"></ion-nav-view>
    </ion-tab>
    -->
    <!-- 
    <ion-tab title="Pagos" href="#/app/menu/tabs/puntospago/puntospagomapa" >
        <ion-nav-view name="puntospago-mapa-content"></ion-nav-view>
    </ion-tab>-->
</ion-tabs>