<ion-tabs class="tabs-top tabs-striped tabs-positive">
    
    <ion-tab title="Campañas" href="#/app/menu/tabs/fechas/campanas" >
        <ion-nav-view name="fechas-campanas-content"></ion-nav-view>
    </ion-tab>
    
    <!--<ion-tab title="Encuentros" ng-click="openMyPopUp()" >
    </ion-tab>-->
    
    <ion-tab title="Encuentros" href="#/app/menu/tabs/fechas/encuentros" >
        <ion-nav-view name="fechas-encuentros-content"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="Catálogo" href="#/app/menu/tabs/mispuntos/catalogopremios" >
        <ion-nav-view name="club-catalogopremios-content"></ion-nav-view>
    </ion-tab> -->
</ion-tabs>