<ion-tabs class="tabs-top tabs-striped tabs-positive">
    <ion-tab title="Puntos" href="#/app/menu/tabs/mispuntos/puntos" >
        <ion-nav-view name="mis-puntos-puntos-content"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Te sugerimos" href="#/app/menu/tabs/mispuntos/premiossugeridos" >
        <ion-nav-view name="mis-puntos-premios-content"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="Catálogo" href="#/app/menu/tabs/mispuntos/catalogopremios" >
        <ion-nav-view name="club-catalogopremios-content"></ion-nav-view>
    </ion-tab> -->
</ion-tabs>